doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Novel Object Study
    link(rel='stylesheet', href='stylesheets/style.css')
  body()
    h1 Completed
    p Your response has been recorded, please close this windows.