extends layout

block content
  body
    h2 Completed 
    p We have recorded your response, and you may now close this window. If you have any questions, please reach out to the main experimenter Alice via alicex@g.ucla.edu.