extends layout 

block content 
  body
    h3 Part 1 Example
    
    p 
      | Below is an example of what you are expected to see and answer. Please click 'NEXT' once you finish reading the example and are ready for the task. 
    
    img(src='images/describe_example.PNG' style='width: 600px; height: auto;' location='middle')
    br
    br
        
    a.waves-effect.waves-light.btn(onclick="window.location.href='/describe/1';") Next