extends layout 

block content
  body
    h3 Part 1: Name or Describe Objects 
    p
      | In the first part of the study, you will see pictures and animations of 30 3D objects and answer some questions based on each of them. 
      br
      |Please click 'NEXT' to see an exmaple.
    
    a.waves-effect.waves-light.btn(onclick="window.location.href='/describe/example';") Next
    