extends layout 

block content 
  body
    h2 Novel Object Study
    p Thank you for taking part in this experiment. It is expected to take approximately 60 minutes to complete. 
    <div style="background-color:yellow;"> This study requires you to use a laptop or desktop, and touch screen devices (e.g., iPhone, iPad, etc.) will not work properly.</div>
    <div style="background-color:yellow;"> Please maximize your window. </div>
    p In this study, you will: 
    ol
      li View images of various objects and respond to some questions about them (Part 1).
      li View different sets of object images and rearrange them based on their similarity to one another (Part 2).
    
    p If you are ready to proceed, please enter your 9-digit UID without any dashes below (e.g., 123456789)
    form(action="/", method="post", onsubmit="validateInput(event);" autocomplete="off")
      .input-field
        input#uid_input.validate(type='text' name="uid")
        label(for='uid') UID
      
      br
      p
        |  Please enter your name (this is just for the purpose of granting extra credit in case you entered a wrong UID), and click "Next" to proceed.
      .input-field
        input.validate#name_input(type='text' name="name")
        label(for='name') Name
      
      br
      button#uid_submit.btn.waves-effect.waves-light(type="submit") Next
    
    script(src='javascripts/index.js')