extends layout 

block content 
  body
    h2 Novel Object Study
    p This expriment assesses perceived similarity. It will take about 30 minutes to complete.
    p In this study you will: 
    ol
      li See some objects and answer a few questions about them.
      li See a goup of objects and rearrange their position to group similar objects together.
    
    form(action="/", method="post", onsubmit="validateInput(event);" autocomplete="off")
      input#uid_input.text_input(
        type="text", 
        name="uid", 
        placeholder="Enter your 9 digits ID" 
      ) 
      br
      button#uid_submit.btn.waves-effect.waves-light(type="submit") Next
    
    script(src='javascripts/index.js')