extends layout 

block content 
  body
    h3 End of Experiment Survey
    p This final section will require you to respond to some demographic questions. You may choose to skip any questions that you do not wish to answer. Once you finished, please click "SUBMIT" to record your reponse.
    
    form(action="/log/survey" method="post" autocomplete="off")
      p Gender:
      label.radio
        input(type='radio' name='gender' value='male') 
        span.black-text.radio-label Male
      
      label.radio
        input(type='radio' name='gender' value='female') 
        span.black-text.radio-label Female
      
      label.radio
        input(type='radio' name='gender' value='others') 
        span.black-text.radio-label Others

      p Age:
        br
        input.survey_text#survey_input(type='number' name='age' min='0' max='100' placeholder='Age')
    
      p Email: 
        br
        input.survey_text#survey_input(type='email' name='email' placeholder='Email')

      //- TODO: Add more questions here
      button.btn.waves-effect.waves-light(type="submit") Submit Response