doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='stylesheets/style.css')
  body(onload='start()')
    h1 Trial #{id} / 6
    #container
      #canvas-container
        canvas#canvas(width='1000px', height='600px')
      #buttons
        #reset.btn(onclick='reset()') Reset
        #next.btn(onclick='next()') →
    script. 
      const id = #{id}
    script(src='javascripts/trial.js')