extends layout 

block content
  body
    h3 Part 2 Example 
    
    p
      |Please click 'NEXT' once you finish reading the example and are ready for the task.

    img(src='images/trial_example.PNG' style='width: 800px; height: auto;')
    br
    br
    
    a.waves-effect.waves-light.btn(onclick="window.location.href='/trial/1';") Next