extends layout 

block content 
  body
    h3 Part 2: Group Similar Objects
    p 
      | In the second part of the study, you will be presented multiple pictures of the object together on a white board. 
      br
      | You can click on the object and drag them freely. 
      br
      | The task is arranging these objects so that you put object more similar to each otehr closer.
      
    a.waves-effect.waves-light.btn(onclick="window.location.href='/trial/example';") Next