extends layout 

block content 
  body
    h3 Part 2: Group Similar Objects
    p 
      | In the second part of the study, you will see multiple objects on a white board. 
      br
      <div style="background-color:yellow;"> You may click on an object and drag it to move it around freely. And your task is to rearrange these objects by placing those that are more similar (based on shape, not colors) to each other closer. </div>
      br 
      | You will complete the same task 6 times, each time with a different set of objects. You may see some objects appear across multiple trials.
      br
      | Please click "Next" to proceed to an example.
      
    a.waves-effect.waves-light.btn(onclick="window.location.href='/trial/example';") Next