extends layout 

block content 
  body
    h3 Part 2: Group Similar Objects
    p 
      | In the second part of the study, you will see different objects on a white board. 
      br
      | Your task is to rearrange these objects by placing those that are more similar to each other closer.
      br
      | You may click on an object and move it around freely.
      br
      | Please click "Next" to proceed to an example.
      
    a.waves-effect.waves-light.btn(onclick="window.location.href='/trial/example';") Next