extends layout 

block content
  body
    h3 Example Trial
    
    .card#example-trial-card
      .card-image
        img(src='images/trial_example.PNG' style='width: 1200px; height: auto;')
    
    a.waves-effect.waves-light.btn(onclick="window.location.href='/trial/1';") Next