doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Novel Object Study
    link(rel='stylesheet', href='stylesheets/style.css')
  body()
    h1 Example Trial
    img(src='images/trial_example.PNG' style='width: 1200px; height: auto;')
    #next.btn(onclick="window.location.href='/trial/1';") →