doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Novel Object Study
    link(rel='stylesheet', href='stylesheets/style.css')
  body()
    p 
      | In the second part of the study, you will be presented multiple pictures of the object together on a white board. 
      br
      | You can click on the object and drag them freely. 
      br
      | The task is arranging these objects so that you put object more similar to each otehr closer.
      
    #next.btn(onclick="window.location.href='/trial/example';") →