body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body {
    background-color: white;
}

#canvas {
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
}

#canvas-container {
    display: block;
    width: 1000px;
    height: 600px;
    display: block;
}

#buttons {
    float: right;
}

.btn {
    border: none;
    padding: 14px 28px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #2196F3;
    color: white;
}

.btn:hover {
    background: #0b4d83;
    color: white;
}

.hide {
    visibility: hidden;
}